body {
      display: grid;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

main {
          width: 60vw;
          height: 40vw;
          background-color: DarkTurquoise;
          border: 2vh solid black;
          position: relative;}

.vierkantje {
  width: 40%;
  height: 50%;
  background-color: black;
  clip-path: polygon(0 40%, 20% 0, 40% 40%);
  position: absolute;
  left: -1%;
  top: 81%;}

.vierkantje2 {
width: 40%;
height: 50%;
background-color: black;
clip-path: polygon(0 0%, 40% 0, 20% 40%);
position: absolute;
left: -1%;
top: -1%;}


.cirkel {
  width: 60vw;
  height: 40vw;
  background:radial-gradient(circle, Coral, Coral 11%, black, black 12%, transparent 12%);
  position: absolute;
}

p {
  background-color: black;
  height: 41vw;
  width: 1vw;
  position: absolute;
  top: -5%;
  left: 14%;
}

p:nth-child(1){
  background-color: black;
  height: 41vw;
  width: 1vw;
  position: absolute;
  top: -5%;
  left: 26%;
}

p:nth-child(2){
  background-color: lightpink;
  height: 40vw;
  width: 7.2vw;
  position: absolute;
  top: -2.5%;
  left: 14%;
}

p:nth-child(3){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 2%;
  left: 17%;
  transform: rotate(-15deg);
}

p:nth-child(4){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 12%;
  left: 19.5%;
  transform: rotate(45deg);
}

p:nth-child(5){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 26%;
  left: 19%;
  transform: rotate(90deg);
}

p:nth-child(6){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 37%;
  left: 17%;
  transform: rotate(24deg);
}

p:nth-child(7){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 20.2%;
  transform: rotate(160deg);
}

p:nth-child(8){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 62%;
  left: 17.2%;
  transform: rotate(-85deg);
}

p:nth-child(9){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 76%;
  left: 19.5%;
  transform: rotate(15deg);
}

p:nth-child(10){
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  top: 90%;
  left: 18.5%;
  transform: rotate(-30deg);
}

p:nth-child(11){
  background-color: black;
  height: 1vw;
  width: 45vw;
  position: absolute;
  top: 22.5%;
  left: 26%;
}

p:nth-child(12){
  background-color: black;
  height: 10vw;
  width: 43.4vw;
  position: absolute;
  top: -2.5%;
  left: 27.7%;
  background-color: #ffffff;
opacity: 1;
background-image: repeating-linear-gradient(45deg, #847bff 25%, transparent 25%, transparent 75%, #847bff 75%, #847bff), repeating-linear-gradient(45deg, #847bff 25%, #ffffff 25%, #ffffff 75%, #847bff 75%, #847bff);
background-position: 0 0, 40px 40px;
background-size: 80px 80px;
}

p:nth-child(13){
  background-color: black;
  height: 1vw;
  width: 28vw;
  position: absolute;
  top:70%;
  left: 26%;
}

p:nth-child(14){
  background-color: black;
  height: 30vw;
  width: 1vw;
  position: absolute;
  top: 22.5%;
  left: 72.5%;
}

.rechthoek {
  width: 16.3vw;
  height: 30vw;
  position: absolute;
  top: 25%;
  left: 73%;
  background: repeating-linear-gradient(135deg, lightpink, lightpink 4rem, coral 4rem, coral 8rem);
}

.rechthoek2 {
  width: 28vw;
  height: 10vw;
  position: absolute;
  top: 75%;
  left: 27%;
  background: repeating-linear-gradient(90deg,#847BFF, #847BFF 1rem, lightpink 1rem, lightpink 2rem);
  }

  .rechthoek3 {
    width: 28vw;
    height: 10vw;
    position: absolute;
    top: 76%;
    left: 26.5%;
    background: repeating-linear-gradient(180deg, transparent, transparent 1rem, black 1rem, black 2rem);
    }
